.aspect-ratio{
  position: relative;
  height: 0;
  padding-bottom: 56.25%; // 16:9
  width: 100%;

  iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
