.btn-lg{
  width: 17.8rem;
  height: 4.6rem;
}

.btn.gray {
    border: 1px solid #808080;
    color: #808080;
    border-radius: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    &:hover,
    &:active{
      border: 1px solid #808080;
    }
}
