@keyframes fade {
  0%,100% { opacity: 0.5 }
  50% { opacity: 1 }
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desktop-container {
  transition-delay: 0s;
  transition: margin-left $sidebar-transition-time;
}

.desktop-container.slide {
  margin-left: $sidebar-width;
}

.desktop {
  display: flex;
  height: 100%;
  min-width: 100%;
  width: 100%;
  justify-content: center;
  flex-flow: column;

  background-color: $color-app-bg;

  .desktop-content {
    display: flex;
    flex-flow: column;
    height: 100%;

    .main-tabs {
      display: flex;
      align-items: center;
      height: 3.64rem;
      background-color: #36454e;

      .tab-arrow {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;

        div {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 9px 80px 0 80px;
          border-color: #36454e transparent transparent transparent;
        }
      }

      .btn {
        height: 100%;
        @media (min-width: $screen-md-min) {
          padding: .91rem 3.2rem !important;
        }
        color: #ffffff;
        border-radius: 0;

        &:hover {
          background-color: #36454e;
        }
      }
      .btn.tab-desktop {
        border-right: 1px solid rgba(194, 197, 199, 0.3);
        width: 15.4rem;
      }
      .btn.tab-mobile {
        display: flex;
        align-items: center;
        font-size: 1rem;
        padding: 1.4rem !important;
        height: 100%;
        justify-content: center;
        flex: 1;
        text-align: center;
      }

      .active.tab-mobile {
        background-color: #ff6b6c;
      }

      .tab-arrow {
        position: absolute;
        top: 100%;
        left: 0;

        div {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 1rem 7.7rem 0 7.7rem;
          border-color: #36454e transparent transparent transparent;
        }
      }
    }
    .main-tabs.tab-mobile {
      height: 44px;
      z-index: 9;
    }
  }

  .design, .code {
    height: 100%;
    display: flex;
    @media (min-width: $screen-md-min) {
      padding: 1.6rem;
    }
  }

  .empty-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width:300px) and (max-width:768px){
      background: #fff;
    }

    .empty-page {
      padding: 32px 48px;
      display: flex;
      flex-flow: column;
      justify-content: center;
      text-align: center;
      margin: auto;
      align-items: center;
      position: relative;
      @media (min-width:300px) and (max-width:768px){
        a {
            position: absolute;
            bottom: 10px;
            width: 100%;
            button{
              width: 93%;
            }
        }
      }

      @media (max-width: $screen-md-min) {
        height: 100%;
      }

      @media (min-width: $screen-md-min) {
        background-color: #fdfdfd;
        max-width: 800px;
      }

      h1 {
        @media (max-width: $screen-md-min) {
          font-size: 7rem;
        }

        @media (min-width: $screen-md-min) {
          font-size: 5rem;
        }
      }

      h2 {
        font-size: 24px;
        @media (max-width: $screen-md-min) {
          font-size: 24px;
        }

        font-weight: bold;
        color: #2d2d2d;
      }
      p {
        padding: 8px;
      }
      img {
        width: 288px;
        height: 259px;
        margin-bottom: 32px;
        @media (min-width:300px) and (max-width:768px){
          width: 200px;
          height: 259px;
          margin-bottom: -25px;
        }
      }
      .btn {
        margin-top: 42px;
        font-weight: 600;
        font-family: Montserrat;
      }
    }
  }

  .fixed-card {
    display: flex;
    flex-flow: column;
    &.circuito-card.code-card {
      @media (min-width: $screen-md-min) {
        width: 36rem !important;
        flex: 0 0 36rem;
      }
      @media (max-width: $screen-md-min) {
        position: absolute;
        width: 100%;
        height:100%;
      }
    }

  }

  .component-search-results-container {
    width: 100%;
    flex: 1 0 auto;
  }

  @media (min-width: $screen-md-min) {
    .line-seperator {
      margin: 4px 0;
      border-right: 1px solid rgba(194, 197, 199, 0.8);
    }
  }

  .work-view-container {
    z-index: 1;
    flex: 1 0;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    overflow: hidden;

    @media (min-width: $screen-md-min) {
      flex-flow: row;
      overflow: hidden;
    }

    @media (max-width: $screen-md-min) {
      margin-top: $search-bar-height;
    }

    .work-view-desktop {
      position:relative;
      display: flex;
      flex-flow: column;
      justify-content: center;
      background-image: url("/static/images/workspace-bg.png");
      flex: 1 0;
      box-shadow: $box-shadow-1;
      min-width:0px;
    }

    .work-view-mobile {
      display: flex;
      position: relative;
      flex: auto;
      flex-flow: column;
      background-image: url("/static/images/workspace-bg.png");
      flex: 1 0 auto;
      box-shadow: $box-shadow-1;
    }
  }
}

.circuito-card {
  & > *{
    z-index: 50;
  }
}

iframe.gistFrame {
    width: 100%;
    border: 0px;
    height: 100%;
    position: relative;
}

main.container.relative-container{
  position: relative;
  height: 100%;
  overflow: hidden;
}


.container.not_found_page .main{
    text-align: center;
    flex-wrap: wrap-reverse;
    .header{
      .top span {
        font-family: Montserrat;
        font-size: 108px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #2d2d2d;
      }
      .top2{
        font-family: Montserrat;
        position: relative;
        top: -20px;
        text-transform: uppercase;
        span {
          font-family: Montserrat;
          font-size: 45px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 9px;
          text-align: center;
          color: #2d2d2d;
        }
      }
    }

    .text{
      position: relative;
      .top span {
        font-family: Roboto;
        font-size: 21px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #2d2d2d;
      }

      .top2 a {
        display: inline-block;
        background: #f66a6c;
        padding: 10px;
        color: #fff;
        font-weight: 400;
        width: 225px;
        text-align: center;
        margin: 65px auto;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'Montserrat';
      }
    }

    .right,
    .left{
      flex: 0 0 50%;
    }

    .left .gif{
      height:100%;
      width:100%;
      padding:35px;
      img{
        width:100%;
      }
    }

    flex-direction: row-reverse;
    display: flex;
    justify-content: center;
    height: 100%;
    width:100%;
    align-items: center;
}

.container.not_found_page ,
.container.not_found_page .row {
    height: 100%;
}
