.header-links {
    color: #5f9ea0;
    font-family: 'Rubik', sans-serif;;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: .8rem 1.4rem!important;
    transition: color $quick-transition-time;
}

.header-links-container {
	display: flex;
}

.thin {
	@media (max-width: $screen-md-min) {
		padding: 1.6rem 2.4rem;
	}
}

.facebook {
	height: 2.4rem;
}

.holmes {
	font-style: initial !important;
	text-align: end;
	direction: rtl;
}
h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 7rem;
	text-align: center;
	color: $main-color-bold;

	@media (max-width: $screen-md-min) {
		font-size: 4rem;
	}

	@media (max-width: 374px) {
		font-size: 3.4rem;
	}
}

h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 2.2rem;
	color: #5f9ea0;
}

.bold {
	font-weight: 500 !important;
}

ul {
	font-size: 1.5rem;
    margin: 0 1.4rem;
    font-family: Rubik,sans-serif;
    color: #48545c;
    font-weight: 400;

    li {
   		list-style: inside;
    }
}

.homepage-container {
	color: $main-color-light;
	position: relative;
	background: white;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	.go-to-app-wrapper .robo-btn {
	}

	.hamburger-container {
		direction: rtl;
		margin-top: 5.8rem;
		width: 100%;

		.hamburger-container-inner {
			display: flex;
			position: fixed;
			flex-direction: column;
			z-index: 999;
    		background-color: white;
    		opacity: 0.93;
    		width: 100%;
		}

		@media (max-width: $screen-md-min) {
			margin-top: 4.6rem;
		}

		.hamburger-elem {
			background-color: whitesmoke;
			border: 1px white solid;
			padding: 0.8rem;
			text-align: center;
		}
	}

	.upper-container {
		position: relative;
		display: flex;
		margin: auto;
		flex: 1 0 auto;
		min-height: 35rem;
		background-size: cover;
    	background-repeat: no-repeat;
    	background-position: 50% 50%;
		width: 100%;
		padding: 4.2rem;
		@media (max-width: $screen-md-min) {
			padding: 0 1.6rem;
			flex: 1 0 auto;
			min-height: 19rem;
		}

		p {
			font-weight: 300;
			color: cadetblue;
			font-size: 2.4rem;

			@media (max-width: $screen-md-min) {
				font-size: 1.8rem;
			}

			@media (max-width: 374px) {
				font-size: 1.6rem;
			}
		}

		.upper-bg{
			opacity: 0.53;
		    z-index: 1;
		    background-size: cover;
		    background-repeat: no-repeat;
		    background-position: 50% 50%;
		    left: 0;
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    right: 0;
		    background-image: url("/static/images/reflexology.jpg");

		    @media (max-width: $screen-md-min) {
		    	opacity: 0.33;
		    }
		}
		
		nav {
		z-index: 2;
			margin: auto;
			.upper-container-content {
				display: flex;
				flex-flow: column;
				align-items: center;
			}
		}
	}

	.homepage-how-to-connect-title {
		margin-bottom: 2.4rem;
	}

	.btn-raised {

		// &:hover{
		// 	-webkit-transition: background-color 500ms linear;
    // 		-ms-transition: background-color 500ms linear;
    // 		transition: background-color 500ms linear;
		// }

		// @media (max-width: $screen-md-min) {
		// 	width: 200px;
		// 	height: 32px;
		// 	font-size: 1.2rem;
		// 	margin-bottom: 1.6rem;
		// 	margin-top: 0.8rem;
		// }
	}

	nav {
		display: flex;
		justify-content: space-evenly;


		flex-wrap: wrap;
		padding: 1.6rem 0;
		align-items: center;

		@media (max-width: $screen-md-min) {
			justify-content: space-around;
			a.menu{
				display: block;
				width: 100%;
				text-align: left;
			}
			padding: 0.8rem 0;
		}

		* {
			display: flex;
			flex-flow: column;
			margin: 8px 0;
		}

		.homepage-post-container {
			max-width: 415px;

			@media (max-width: $screen-md-min) {
				max-width: 210px;
			}

			
		}
	}

	.homepage-post-image {
		width: 26rem;
		height: 26rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		@media (max-width: $screen-md-min) {
			max-width: 210px;
			max-height:210px;
		}
	}



	.cursor-char {
		display: inline;
		font-weight: 300;
		margin: 0;
	}

	h2 {
		text-align: center;
		color: #5f9ea0;
		margin: 0;

		@media (max-width: $screen-md-min) {
			margin: 0.8rem 0;
			font-size: 1.8rem;
		}
	}

	h3 {
		color: #2c383f;
		@media (max-width: $screen-md-min) {
			font-size: 1.8rem;
			margin-top: 60px;
		}
	}

	h4 {
		text-align: center;
		color: #2c383f;

		@media (max-width: $screen-md-min) {
			font-size: 1.6rem;
			padding-top: 0.8rem;
		}
	}

	.homepage-video-container {
		position: relative;

		.homepage-video-preview-image {
			width: 41.6rem;
			height: 25.1rem;
			// width: 640px;
			// height: 387px;

			@media (max-width: $screen-md-min) {
				width: 100%;
    			height: auto;
    			margin: 0;
    		}
    	}

    	a {
    		position: absolute;
    		z-index: 9;
    		right: calc(50% - 54px);
    		top: calc(50% - 54px);
    		margin: 0;

    		@media (max-width: $screen-md-min) {
    			right: calc(50% - 25px);
    			top: calc(50% - 25px);
    		}
    	}

    	.play-button {
    		width: 104px;
    		height: 104px;
    		margin: 0;
    		cursor: pointer;

    		position: absolute;
    		right: calc(50% - 54px);
    		top: calc(50% - 54px);

			@media (max-width: $screen-md-min) {
				position: relative;
    			right: auto;
    			top: auto;
				width: 50px;
    			height: 50px;
			}
		}
	}
}

.homepage-header {
	display: flex;
	direction: rtl;
	z-index: 9999;
	top: 0;
	height: 5.8rem;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex: 1 0 auto;
	color: white;
	margin: auto;
	padding: 0 1.6rem;
	width: 100%;
	transition: background-color $quick-transition-time;

	&.light {
		background-color: white;
		box-shadow: 0 2px 12px 0 rgba(0,0,0,0.15);
	}

	&.dark {
		background-color: white;
	}

	&.fixed {
		position: fixed;
	}

	.btn-flat {
		color: white;
		font-size: 1.4rem;
		font-weight: 400;

		&:hover {
			opacity: 0.8;
		}
	}
	@media (max-width: $screen-md-min) {
		.main-header-logo {
			width: 12rem;
		}

		padding-bottom: 0;
		height: 4.6rem;
	}

	nav {
		padding: 0;
	}
}

.go-to-app{
	margin: 1.95rem .8rem 0 .8rem !important;
	
	@media (min-width: $screen-md-min) {
		width:300px;
	}
}

table {
	width: 100%;
	display: flex;
	flex: 1 0 auto;
	flex-flow: column;
	align-items: center;

	tr:nth-child(even) {
		background: #FFF;
	}

	tr:nth-child(odd) {
		background: papayawhip;
	}

	tr {
		width: 100%;
		//padding: 0 4.2rem;
		@media (max-width: $screen-md-min) {
			//padding: 0 1.6rem;
		}

		.btn-raised {
			align-self: center;
		}
	}

	.inner-container {
		display: flex;
  		flex-flow: column;
  		text-align: center;
		//max-width: 1500px;
		padding:6rem 2.4rem;
		margin: auto;
		direction: rtl;

		@media (max-width: $screen-md-min) {
			padding: 3.2rem 2.4rem;
		}
	}

	.inner-container-seperator {
		display: flex;
  		flex-flow: column;
  		text-align: center;
		//max-width: 1500px;
		padding:1rem 0;
		margin: auto;
		color: white;
		background-color: #8caeb0;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 6rem;

	margin-left: 0 !important;
	margin-right: 0 !important;

	@media (max-width: $screen-md-min) {
		padding: 0;
		align-items: start;
	}

	.column {
		text-align: right;
		direction: rtl;
		
		align-self: center;
		* {
			text-align: right;
		}

		@media (max-width: $screen-md-min) {
    		padding-top: 1.6rem;
    		align-self: start;
    	}
	}
	
	.map {
		background-image: url(https://external.fsdv3-1.fna.fbcdn.net/static_map.php?v=1015&osm_provider=2&size=296x298&center=32.060682337951%2C34.772758483887&zoom=14&marker_list%5B0%5D=32.06068234%2C34.77275848&language=en&scale=2);

		@media (max-width: $screen-md-min) {
			background-image: url(https://external.fsdv3-1.fna.fbcdn.net/static_map.php?v=1015&osm_provider=2&size=496x498&center=32.060682337951%2C34.772758483887&zoom=14&marker_list%5B0%5D=32.06068234%2C34.77275848&language=en&scale=2);
		}
	}

	.image-column {
		//flex: 1 0 auto;
		display: flex;
		width: 30rem;
		height: 30rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;


		@media (max-width: $screen-md-min) {
    		display: block;
    		width: 100%;
    		max-height: 20rem;
    	}
	}
}

.mobile-rev-row {
	@media (max-width: $screen-md-min) {
		flex-flow: column-reverse;
	}
}

.space-around{
	justify-content: space-around;

	@media (max-width: $screen-md-min) {
		justify-content: initial;
	}
}

.space-between{
	justify-content: space-between;

	@media (max-width: $screen-md-min) {
		justify-content: initial;
	}
}

.center{
	justify-content: center;
}

.sidebar-container {
	padding: 0;
}

.details {
    display: flex;
    flex-direction: row;
	align-items: center;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-around;

	input {
    	margin: 1.95rem .8rem 0;
    	color: black;
    	text-align: center;
    	font-size: 1.4rem;
    	direction: rtl;
    }

    .robo-btn {
    	font-size: 1.4rem !important;
    }

    * {
    	width: 25rem;
    }
}

.contact {
	padding-top: 0.8rem;
}