.landing-page-bg{
  height: 100%;
  width: 100%;
  position: absolute;

  background: linear-gradient(to bottom right, #004063, #2f63a1);

  // Stars overlay
  &:before{
    pointer-events: none;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    animation: spin 500s linear infinite;
    background-image: url("/static/images/landing_bg.svg");
    background-repeat: repeat;
  }
}

.landing-page{
  display: flex;
  position: relative;
  overflow-y: scroll;
}

.landing-page-header{
  z-index: 100000;
  position: absolute;
  top: 0;
  left: 0;

  .landing-page-logo{
    height: 3.7rem;
    margin-left: $lg-gutter;
    margin-top: 1.2rem;
  }
}

.landing-page-content{
  text-align: center;
  color: $color-negative-text;
  width: 100%;

  h1{
    font-size: 3.2rem;
    margin-top: $lg-gutter;
  }

  .landing-page-ribbon-container{
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 24rem;
    background-image: url("/static/images/landing_cover.jpg");
    background-position: center;
  }

  @media (min-width: $screen-md-min) {
    .landing-page-ribbon-container{
      height: 40.4rem;
    }
  }

  #instant-code-and-try-now{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 76rem;
      z-index: 1;
    }

  #landing-page-try{
    margin-top: $lg-gutter;
  }

  #landing-page-try-bottom{
    margin-top: $lg-gutter;
    margin-bottom: 12.3rem;
  }

  #landing-page-play{
    background-color: transparent;
    color: $color-negative-text;
    margin-top: $xl-gutter;
    box-shadow: none;
  }

  #landing-page-steps{
    margin: auto;
  }

  .landing-page-step-container{
    display: inline-flex;
    flex-flow: column-reverse;
    padding-top: 2.6rem;
    padding-bottom: 2.6rem;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: $screen-md-min) {
    .landing-page-step-container{
      flex-flow: row;
      padding-top: 7.2rem;
      padding-bottom: 7.2rem;
      justify-content: center;
      align-items: center;

      &.odd{
        flex-flow: row-reverse;
      }
    }
  }

  .landing-page-step-image-container{
    margin-right: $md-gutter;
    margin-left: $md-gutter;
    border-radius: 8px;
    border: solid 2px $color-main-action;
    padding: $sm-gutter;

    .landing-page-step-image-upper{
      padding-bottom: $sm-gutter;
      display: block;
      max-width: 100%;
      width: auto;

    }
    .landing-page-step-image{
      max-width: 100%;
      width: auto;
    }
  }

  @media (min-width: $screen-md-min) {
    .landing-page-step-image-container{
      margin-right: 3.8rem;
      margin-left: 3.8rem;
    }
  }

  .landing-page-step-text-container{
    margin-bottom: $md-gutter;
    align-self: baseline;

    .landing-page-step-text{
      display: flex;
      flex-flow: column;
      text-align: left;
      font-size: 2.6rem;
      margin-right: $md-gutter;
      margin-left: $md-gutter;
      width: auto;

      .landing-page-step-number{
        font-weight: 400;
      }

      .landing-page-step-title{
        font-weight: 500;
        font-size: 6rem;
        line-height: 6rem;
        color: $color-main-action;
      }

      @media (min-width: $screen-md-min) {
        .landing-page-step-title{
          font-size: 12rem;
          line-height: 12rem;
        }
      }
    }
  }

  @media (min-width: $screen-md-min) {
    .landing-page-step-text-container{
      margin-right: 3.8rem;
      margin-left: 3.8rem;
      width: 480px;
      margin-bottom: 0;
      align-self: inherit;

      .landing-page-step-text{
        &.odd{
          padding-left: 3.8rem;
        }
      }
    }
  }
}
