.loader{
  text-align: center;
}

.loader-desktop{
  left: 0;
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.centered-loader-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: $screen-md-min) {
  .loader-desktop {
    // This padding is for the footer which only exists on desktop
    bottom: $footer-height;
  }
}
