@import "../variables";

.main-header{
  display: flex;

  color: #5f9ea0;

  align-items: center;
  justify-content: center;

  padding-left: $md-gutter;
  padding-right: $md-gutter;

  height: $header-height;
}

.header-left {
  position: absolute;
  max-width: 38%;
  display: flex;
  align-items: baseline;
  left: 0.8rem;

  h1 {
    color: white;
    margin-top: 4px;
  }
}

.header-right {
  position: absolute;
  right: 0;
  margin-right: 1.6rem;
  z-index: 9;
  @media (min-width:300px) and (max-width:768px){
    &{
      z-index:99;
    }
  }

  .cart-button {
    color: white;
    position: relative;

    .badge {
      right: 0;
      top: 0;
      margin: 0;
      position: absolute;
      transform: translateX(50%) translateY(-50%);
    }
  }
}

.cart-preview-container {
  display: flex;
  visibility: hidden;
  max-height: 90vh;
  transition: 0s visibility;
  transition-delay: 0.2s;
  position: absolute;
  top: 0;
  margin-top: 3.4rem;
  text-align: left;
  width: 30rem;
  flex: 1 0 auto;
  flex-flow: column;
  right: 1.7rem;
  color: black;
  background-color: #F9F9F9;
  z-index: 9999999;
  border-radius: 0.2rem;
  box-shadow: 0 0.1rem 0.6rem 0 rgba(40,40,40,0.3), 0 0.1rem 0.3rem 0 rgba(0,0,0,0.1);

  &.active{
      visibility: visible;
      transition-delay: 0s;
      cursor:default;
    }

  &.invisible{
    display: none;
  }

  .cart-preview-loading {
    padding: $sm-gutter;
  }

  .selected-comps , .added-comps {
      .comps-header {
          border-bottom: 2px solid #eff2f4;
          padding: 10px 25px 6px 25px;
      }
  }

  .close-cart-preview{
    display: block;
    text-align: right;
    padding: 8px;
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
    i.material-icons {
        color: #9B9EA0;
        font-size: 1.6rem !important;
    }
  }

  .cart-preview {
    display: flex;
    flex-flow: column;
    overflow-y: auto;

    .cart-preview-item-container {
      display: flex;
      justify-content: space-between;
      flex: 1 0 auto;
      margin: 1.2rem;

      img {
        width: 50px;
        height: 50px;
      }

      .cart-preview-item-details {
        display: flex;
        flex-flow: column;
        margin-left: $md-gutter;
      }
    }
  }

  .go-to-cart-btn-container {
    padding: 1.2rem;
    border-top: 1px solid #E0E0E0;
  }
}

.main-header-logo{
  position: relative;
  bottom: 2px;
  font-family: Roboto;
  font-size: 2.4rem;
  font-weight: 900;
  height: 2.1rem;
}

.hamburger-menu {
  @extend .hidden-md;
  @extend .hidden-lg;
  position: relative;
}

.add-btn {
  padding-bottom: 0 !important; // Cuz this button should get out of the horizontal center of the header to the bottom
}

.mobile-add-new-font {
  font-size: 1.2rem;
}

.circuito-logo{
  transition: fill $quick-transition-time;

  &.dot{
    fill:#e76666;
  }

  &.dark{
    fill:#white;
  }

  &.light{
    fill: white;
  }
}
