//
// Footer
//
// Unseen on mobile
#main-footer{
  display: none;
}

@media (min-width: $screen-md-min) {
  #main-footer{
    z-index: 60;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;

    display: block;

    background-color: $color-app-main;
    color: $color-negative-text;
  }
}

.main-footer-content {
  height: $footer-height;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: $sm-gutter;
  padding-right: $sm-gutter;

  .icon-robo{
    @include square(4.5rem);
  }

  // On desktop the buttons are in a row at the footer
  @media (min-width: $screen-md-min) {
    .social-links {
      display: flex;
      flex-flow: row;

      // Ichsa extra margin for intercom icon
      margin-right: 9.2rem;
    }

    .social-links-caption{
      display: none;
    }
  }
}

&.btn-footer{  
  &.secondary{
    font-weight: $btn-secondary-font-weight;
  }
}
