.overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;

  &:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    flex: 1 0 auto;
    background-color: black;
    opacity: 0.5;
    transition: opacity $overlay-transition-time;
    visibility: visible;
    z-index: 8000;
    text-align: center;
  }

  &.overlay-closed{
    opacity: 0;
    pointer-events: none;

    &:before{
      opacity: 0;
    }
  }

  &.overlay-clickable{
    pointer-events: auto !important;
  }
}

.overlay-content{
  z-index: 8001;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
