// Side bar
.sidebar-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 51;
  transition: height 0.1s, width 0.1s;
  transition-delay: 0s;

  .sidebar-content-closed {
    left: -$sidebar-width;
  }
}

.main-nav-container .btn{
    color: white;
}

.sidebar-content {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: $sidebar-bg-color;
  color: white;
  width: $sidebar-width;
  height: 100%;
  transition: left $sidebar-transition-time;
  left: 0;
  padding: $md-gutter;
  z-index: 9000;

  .social-links{
    margin-left: - ($xs-gutter + $sm-gutter); // Hacky way to align social links inside sidebar because of offsets in the svg
  }

  .main-nav-container {
    margin-top: 52px;
  }

  .sidebar-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 16px;
    color: white;
  }
}

.sidebar-container-closed {
  height: 0;
  width: 0;
  transition-delay: $sidebar-transition-time;
}
