.social-links {
    margin-bottom: 0;
    ul {
        li {
            // TODO Doesn't work on svg
            color: $color-negative-text;
            margin-top: 8px;
            margin-bottom: 0px;
        }
    }
    img {
        height: 24px;
    }
}

.social-links-caption {
    line-height: 2 !important;
    color: white;
}
