#video-modal{

  // Before is used for vertical align
  &:before{
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 20%;
  }
  
  .video-modal-container{
    width: 100%;
    max-width: 900px;
    margin: auto;
    @include shadow-z-5();
  }

  .video-modal-close{
    display: block;
    text-align: right;

    i:hover{
      cursor: pointer;
    }
  }
}

