extends ./partials/layout.pug

block title
  title !{bloghome.data.page_title}

block body
  body.page
    div.homebanner
      div.blog-avatar
      .blog-title
        h1.title !{PrismicDOM.RichText.asText(bloghome.data.headline)}
        .blog-description !{PrismicDOM.RichText.asText(bloghome.data.description)}
    div.outer-container
      div.navigation
        div.filters
          button.robo-btn.secondary-outline.text-app-btn-2.active(data-filter="all") View All
          for type in types
              button.robo-btn.secondary-outline.text-app-btn-2(data-filter=type.value) !{type.name}
        form.search(action="/blog?search")
          - var value = query
            input.text-app-searchbar(type="text",name="q",value=query,placeholder="Search")
            div
              button(type="submit")
                i.material-icons.icon search

      div.blog-main.all
        include ./partials/homepage_posts_layout.pug
