extends ./../partials/layout_amp.pug

block title
  title !{meta.pageTitle}
block body
  div.main(data-type=post.type)
    - var bgCoverPhoto = post.data.cover_image.url;
    div.outer-container-post 
      - var title = PrismicDOM.RichText.asText(post.data.title)
      h1.postTitle.text-homepage-display-heading-dark(data-wio-id=post.id)
        != (title !== "") ? title : 'Untitled'
      div.body
        div.socialWrapperDiv
          include ./../partials/social_share.pug
        div.contentWrapperDiv !{PrismicDOM.RichText.asHtml(post.data.body,null,UIhelpers.pugHtmlSerializer)}
        div.socialWrapperDiv
          include ./../partials/social_share.pug
        
