extends ./../partials/layout.pug

block title
  title !{meta.pageTitle}
block body
  body
    div.main(data-type=post.type)
      if (post.data.cover_image)
          - var bgCoverPhoto = post.data.cover_image.url;
      else
        - var bgCoverPhoto = post.data.gallery_image_one.url
      div.outer-container-post 
        - var title = PrismicDOM.RichText.asText(post.data.title)
        h1.postTitle.text-homepage-display-heading-dark(data-wio-id=post.id)
          != (title !== "") ? title : 'Untitled'
          div.meta
            //span.meta_type !{postType}
            //span.meta_author !{post.data.author}
            //span.meta_date !{UIhelpers.getPostDate(post)}  
        //- div.back
        //-   a(href='/prismic') back to list
        include ./../partials/social_share.pug
        div.body  !{PrismicDOM.RichText.asHtml(post.data.body,null,UIhelpers.htmlSerializer)}
        include ./../partials/social_share.pug
        //include ./../partials/related_posts.pug
