head
  //- Google Optimize code :
  //- <style>.async-hide{ opacity: 0 !important}</style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};(a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;})(window,document.documentElement,'async-hide','dataLayer',4000,{'GTM-5J4J84M':true});</script>
  if (typeof(pageMeta) !== "undefined")
    title #{pageMeta.title}
    meta(name="description", content=pageMeta.description)
  else
    title circuito.io
    <meta name="description" content="Build your Arduino circuit with circuito.io. Choose the controller & the sensors you'll be working with and our service will generate a schematic diagram for you to know how to connect the sensors to the board, and code snippets for you to operate and perform the functions you want.">
  if (noIndex)
    <meta name="robots" content="noindex">
  if (typeof(canonical) !== "undefined")
    link(rel="canonical", href=canonical)
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800|Rubik:300,400,500" type="text/css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="icon" href="static/images/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  
  link(rel="stylesheet", type="text/css", href="/static/application.css")
