style.
  html{
    font-size:10px !important;
    font-family: Rubik;
    scroll-behavior: smooth;
  }
  
  body{

  }
  
  .lazy-load{
    background:#b4b4b4;
  }
  .paragraph-class a:hover {
      text-decoration: underline;
      cursor: pointer;
  }

  h1 {
    color: #5c87a7;
    font-size: 4rem;
    font-family: Rubik,sans-serif;
    text-align: center;
    font-weight: 300;
    line-height: 1.1;
  }

  .facebook-share {
    background-image: url('/static/images/facebook-share.svg');
  }

  @media screen and (max-width: 1240px) {
    body .intro .post_text {
      flex: none;
      flex-shrink: none;
      margin: 165px 50px 0px 0px;
    }
    body .body .intro {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 55px;
    }
    body .rightSide {
      flex: none;
      display: block;
      width:auto;
      height: auto;
      position: relative;
      transform:none;
    }
    
  }
  @media screen and (max-width: 600px) {
    .footer-bottom{
      display:block !important;
    }
    .footer-bottom .logo {
      display: block;
      margin: 10px 0px;
    }
    .footer-bottom.outer-container-post {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .menu{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 15px 0px;
    }
    a.item {
        margin: 5px 0px;
    }
    h1.postTitle.text-homepage-display-heading-dark {
      margin:20px 0px 60px 0px;
    }
    body .posts-list {
      display: grid;
    }
    body .outer-container-post{
      max-width:55vw !important;
    }
    body .main .meta {
      display: flex;
      flex-direction: column !important;
    }
    body .socialSharing{
      position: relative;
      height: 50px;
      display: flex;
      width: 100%;
      left: 0px;
      justify-content: space-between;
      align-items: center;
      transform: none;
    }
    body .filters {
    /* flex: 1; */
        justify-content: space-between;
        flex: none;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    body form.search {
        display: block;
        flex: 1;
    }

    body .navigation {
        flex-direction: column;
        justify-content: center;
    }

    body .posts_row {
        flex: none;
        display: block;
        width: 100%;
    }
    
    body span.postPreview {
      width: 100%;
    }

    body a.blog-post {
        flex: none;
        width: 100%;
        max-width: 100%;
        margin-bottom: 25px !important;
    }
    
    body .posts_row {
      margin-bottom:0px !important;
    }
  }
  iframe {
    width: 100%;
  }
  
  img.lazy-load {
    margin: 25px 0px;
  }
  
  img {
    max-width: 100%;
    width:auto;
  }
  .body .intro {
     display: flex;
     flex-direction: row;
     margin-bottom: 55px;
     min-height:425px;
   }
   
   .intro .post_text {
     flex: 3;
     flex-shrink: 0;
     margin:0px 50px 0px 0px;
   }
   
   .rightSide {
     flex: 2;
     flex-shrink: 2;
     display: flex;
     width: 300px;
     height: 300px;
     position: relative;
     transform: translateY(-10%);
   }
   .photos{
     width:100%;
     height:100%;
     padding:10%;
   }
   .photos .item {
     height: auto;
     width: auto;
   }
   
   .arrows {
       position: absolute;
       width: 100%;
       height: 0px;
       top: calc(50% - 25px);
       user-select:none;
   }
   
   .arrow_right {
       position: absolute;
       right: 0px;
       cursor:pointer;
   }
   
   .arrow_left {
       position: absolute;
       left: 0px;
       cursor:pointer;
   }
   
   .dots {
       position: absolute;
       bottom: 0px;
       width: 50%;
       height: 35px;
       justify-content: center;
       display: flex;
       align-items: center;
       margin: 0px auto;
       text-align: center;
       width: 100%;
   }
   
   .dots .item.active {
       background: #333;
       border-radius: 100%;
       height: 10px;
       width: 10px;
   }
   
   .dots .item {
       background: #bebebe;
       border-radius: 100%;
       height: 10px;
       width: 10px;
       cursor:pointer;
       margin:0px 8px;
   }
   .actionBtns {
      position: absolute;
      bottom: -115px;
      width: 100%;
  }
  .actionBtns a {
      margin: 2px 0px !important;
      display: inline-block;
      width: 100%;
  }
  
  .buy {
      position: absolute;
      bottom: -155px;
      width: 100%;
      text-align: center;
  }
  .buy .price{
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
  }
  
  .buy .provider{
      color: #2B7DD5;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
  }
  
  .media-modal{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    z-index: 99999;
  }
  
  .media-modal .img-container{
    text-align:center;
    z-index: 999999;
    position: relative;
    display:inline-block;
    text-align: center;
    transform: translateY(35px);
    max-width: 50%;
  }
  
  .media-modal.active{
    display:block;
  }
  
  .media-modal.active img{
    padding:30px 10px 10px 10px;
    background:#fff;
    width: 100%
  }
  
  .media-modal.active .close-btn{
    cursor:pointer;
    display: inline-block;
    position: absolute;
    right: 0px;
    z-index: 99999;
  }
  
  .media-modal.active .media-overlay{
    opacity:0.5;
    background:#333;
    width:100%;
    height:100%;
    position:absolute;
    z-index:99999;
  }
  a.load_more {
      text-align: center;
      margin: 35px 0px;
  }
  .homebanner {
    max-height: 800px;
    height:100%;
    background-size:cover;
    position:relative;
  }
  body .outer-container{
    max-width: initial;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 6.5%;
  }
  .blog-title {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0px;
  }
  @media screen and (max-width: 600px) {
    .blog-main{
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr)) !important;
    }
  }
  .blog-main{
    padding: 0px 3%;
    flex-wrap: wrap;
    flex-direction:column;
    flex-shrink: 0;
    min-height: 70vh;
    max-width: 100%;
    display: grid;
    margin: 0px;
    grid-template-columns: repeat(auto-fill, minmax(425px, 1fr));
    grid-gap: 50px;
  }
  body {
    padding:0px;
    overflow:auto !important;
    margin: 0px auto;
    background:#fff !important;
  }
  .main-header{
    min-height: 50px !important;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .postCover {
    background-size: cover;
    height: 350px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    background-position:center center;
  }
  .bgColor {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0px;
  }
  
  footer .subheader {
      margin: 20px 0px;
  }
  
  h1.postTitle {
      font-size: 6.5rem;
      text-align:right;
      z-index: 9;
      margin: 130px 0px 10px 0px;
  }
  .photoWrapper.active {
    display: flex;
  }
  .photoWrapper {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow:hidden;
  }
  .main .meta {
    margin-top: 0px;
  }
  
  span.meta_author:before,
  span.meta_author:after {
      content:" \25CF ";
      padding:0px 5px;
  }

  .main .meta span {
      flex: 1;
      color: #f66a6a;
      font-weight: 800;
      font-size: 14px;
      text-transform: uppercase;
  }
  
  div[data-oembed] {
  width: 100%;
  }

  div[data-oembed] iframe{
      width:100%;
      min-height:400px;
  }
  .block-img img {
    width: 100%;
  }
  .search {
    display: inline-block;
    position:relative;
  }
  
  .search input{
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 4px;
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    min-height: 28px;
    line-height: 10px;
    width: 100%;
  }
  
  .search div {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FF6B6B;
  }

  .navigation {
      flex-shrink: 0;
      display: flex;
      width: 100%;
      margin:20px auto;
      padding: 0px 3%;
  }

  .filters {
      flex: 3;
      margin:0px;
  }

  form.search button {
    background: transparent;
    border: 0px;
    height: 100%;
  }
  
  .search {
      display: inline-block;
      flex: 1;
      margin:0px;
  }
  .postPreview div.img{
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      margin: 0px;
      background-repeat: no-repeat;
  }
  .postPreview {
    display: block;
    height: 305px;
    overflow: hidden;
  }
  .outer-container-post {
    max-width: 55vw !important;
    margin: 0px auto;
    font-size: 17px;
  }
  .footerWrapper .outer-container-post {
    max-width: initial !important;
  }
  .blog-post-meta {
    margin-top: 20px;
    display: block;
    text-align:center;
  }

  .blog-post {
    margin:0px !important;
    background-color: #ffefd5;
    overflow: hidden;
    text-align:center;
    display: block;
    object-fit: fill;
    height: 425px;
  }
  
  .posts_row {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content:space-between;
      margin-bottom: 50px;
  }
  
  .blog-main.blog_post .blog-post.blog_post,
  .blog-main.all .blog-post.blog_post {
      display: block;
  }

  .blog-post.blog_post {
      display: none;
  }

  .blog-main.component_post .blog-post.component_post,
  .blog-main.all .blog-post.component_post {
      display: block;
  }

  .blog-post.component_post {
      display: none;
  }
  
  .main[data-type="blog_post"] div.body,
  .main[data-type="component"] div.body{
    min-height:55vh;
    text-align: right;
  }
  .blog-post:hover {
    box-shadow: #9b9ea0 0px 2px 4px;
  }

  .blog-post h2 {
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    width: 75%;
    height: 53px;
    margin: 10px auto;
    overflow:hidden;
  }
  .blog-post h2 span{
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .blog-post h4 {
    font-family: Rubik,sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    margin: 8px;
    overflow:hidden;
  }
  .blog-post-meta .type{
    color:#FF6B6B;
  }
  .footer-bottom{
    max-width: 100%;
    width: 100%;
    display: flex;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    align-items:center;
  }
  .footerWrapper {
    background: #36454E;
    color:#fff;
  }
  .icon-link{
    font-size:14px;
  }
  tbody {
    display: table;
    width: 100%;
  }
  
  body footer{
    margin-top: 55px;
    max-width: 100%;
    width: 100%;
    display:block;
    min-height:auto;
  }
  .footer-banner {
    font-style: normal;
    margin: 0px auto;
    text-align:center;
  }

  .logo {
    flex: 1;
    flex-shrink: 0;
  }
  a.item {
      color: #fff;
      text-decoration: none;
      font-style: normal;
      margin: 0px 14px;
      font-weight: normal;
      font-size:14px;
  }
  .post_text a {
    color: #2B7DD5;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
  }
  .blog-title h1{
      color: #FFFFFF;
      font-family: Montserrat;
      font-size: 54px;
      font-weight: 800;
      line-height: 44px;
      text-align: center;
  }
  .homebanner .blog-avatar{
    background-size:200px 250px;
    height: 385px;
    background-position: center 60px;
    background-repeat: no-repeat;
  }
  .blog-title .blog-description{
    max-width: 480px;
    color: #FFFFFF;
    margin:0px auto;
    font-family: Roboto;
    font-size: 18px;
    padding-top:10px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  body.sidebar-open{
    overflow:hidden !important;
  }
  .related {
      border-top: 3px solid #FF6B6B;
      padding-top: 45px;
      margin-top: 55px;
  }

  .posts-list{
      display: flex;
      justify-content:space-between;
  }
  
  .related .TEXT-HOMEPAGE-HEADER-1 {
    text-align: center;
    margin-bottom: 25px;
  }

  .posts-list .blog-post{
    height:auto;
  }
    .related-wrapper {
      flex: 1;
      max-width: 30%;
      overflow: hidden;
  }
  
  .related-wrapper .type{
    
  }
  .related-wrapper .img {
    width: 100%;
    height: 245px;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
  }
  
  .facebook {
      background-image:url('/static/images/prismic/iconmonstr-facebook-1.svg')
  }
  .facebook:hover {
      background-image:url('/static/images/prismic/iconmonstr-facebook-2.svg')
  }
  
  .gplus {
      background-image:url('/static/images/prismic/iconmonstr-google-plus-1.svg')
  }
  .gplus:hover {
      background-image:url('/static/images/prismic/iconmonstr-google-plus-2.svg')
  }
  
  .linkedin {
      background-image:url('/static/images/prismic/iconmonstr-linkedin-1.svg')
  }
  .linkedin:hover {
      background-image:url('/static/images/prismic/iconmonstr-linkedin-2.svg')
  }
  
  .paper {
      background-image:url('/static/images/prismic/iconmonstr-paper-plane-1.svg')
  }
  .paper:hover {
      background-image:url('/static/images/prismic/iconmonstr-paper-plane-2.svg')
  }
  
  .pinterest {
      background-image:url('/static/images/prismic/iconmonstr-pinterest-1.svg')
  }
  .pinterest:hover {
      background-image:url('/static/images/prismic/iconmonstr-pinterest-2.svg')
  }
  
  .twitter {
      background-image:url('/static/images/prismic/iconmonstr-twitter-1.svg')
  }
  .twitter:hover {
      background-image:url('/static/images/prismic/iconmonstr-twitter-2.svg')
  }
  
  .xing {
      background-image:url('/static/images/prismic/iconmonstr-xing-1.svg')
  }
  .xing:hover {
      background-image:url('/static/images/prismic/iconmonstr-xing-2.svg')
  }
  
  .socialSharing{
    position: relative;
    background: transparent;
    display: flex;
    direction: rtl;
    margin: 30px 0 16px 0;
  }
  
  .socialSharing .item{
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
  }
