style(amp-custom).
  html{
    font-size: 10px;
    font-family: 'Rubik', sans-serif;
  }
  body .socialSharing{
    position: relative;
    direction: rtl;
    height: 50px;
    display: flex;
    width: 100%;
    left: 0px;
    align-items: center;
    transform: none;
  }
  
  body.amp-body .site-name a {
    color: #fff;
    text-decoration: none;
  }
  
  h1 {
    color: #5c87a7;
    font-size: 4rem;
    font-family: Rubik,sans-serif;
    text-align: center;
    font-weight: 300;
    line-height: 1.1;
  }
  
  .facebook-share {
      background-image:url('/static/images/facebook-share.svg')
  }
  
  .gplus {
      background-image:url('/static/images/prismic/iconmonstr-google-plus-1.svg')
  }
  .gplus:hover {
      background-image:url('/static/images/prismic/iconmonstr-google-plus-2.svg')
  }
  
  .linkedin {
      background-image:url('/static/images/prismic/iconmonstr-linkedin-1.svg')
  }
  .linkedin:hover {
      background-image:url('/static/images/prismic/iconmonstr-linkedin-2.svg')
  }
  
  .paper {
      background-image:url('/static/images/prismic/iconmonstr-paper-plane-1.svg')
  }
  .paper:hover {
      background-image:url('/static/images/prismic/iconmonstr-paper-plane-2.svg')
  }
  
  .pinterest {
      background-image:url('/static/images/prismic/iconmonstr-pinterest-1.svg')
  }
  .pinterest:hover {
      background-image:url('/static/images/prismic/iconmonstr-pinterest-2.svg')
  }
  
  .twitter {
      background-image:url('/static/images/prismic/iconmonstr-twitter-1.svg')
  }
  .twitter:hover {
      background-image:url('/static/images/prismic/iconmonstr-twitter-2.svg')
  }
  
  .xing {
      background-image:url('/static/images/prismic/iconmonstr-xing-1.svg')
  }
  .xing:hover {
      background-image:url('/static/images/prismic/iconmonstr-xing-2.svg')
  }
  
  .socialSharing .item{
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    display: block;
  }

  .blog-main.blog_post .blog-post.blog_post,
  .blog-main.all .blog-post.blog_post {
      display: block;
  }

  .blog-post.blog_post {
      display: none;
  }

  .blog-main.component_post .blog-post.component_post,
  .blog-main.all .blog-post.component_post {
      display: block;
  }

  .blog-post.component_post {
      display: none;
  }

  .close-sidebar {
      margin: 15px 0px 0px 15px;
      font-size: 20px;
  }
  .text-homepage-display-heading {
      font-size: 1.8rem;
      color: #5f9ea0;
      font-weight: 400;
      line-height: 3.3rem;
      font-family: Rubik,sans-serif;
  }
  .icon-link{
    font-size:14px;
  }
  .footer-banner {
    color:#fff;
    font-style: normal;
    padding: 30px;
    margin: 0px auto;
    text-align: right;
  }
  .text-homepage-body-1-dark, .text-homepage-body-1-light {
    color: #48545c;
    font-family: Rubik,sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.9rem;
    margin: 1.2rem 0;
  }
  footer .subheader {
    margin: 1.2rem 0px;
  }
  .actionBtns {
    margin-bottom: 30px;
  }
  a.go-to-app,.actionBtns a {
    text-decoration: none;
  }
  .main {
      padding: 25px;
      font-family: Roboto;
  }
  iframe {
    width: 100%;
  }
  .main img {
      width: 100%;
      max-width:100%;
  }

  span.meta_author:before,
  span.meta_author:after {
      content:" \25CF ";
      padding:0px 5px;
  }
  .main .meta{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
  }

  .main .meta span {
    flex: 1;
    color: #f66a6a;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 180%;
  }

  h1.postTitle {
    margin-bottom: 0px;
    margin-top: 56px;
  }

  h1.postTitle.text-homepage-display-heading-dark {
      text-align: center;
  }
  button.robo-btn, a.robo-btn {
  	outline: 0;
  	border: 0px;
  	border-radius: 2px;
  	margin: 2px;
  	font-family: Montserrat;
  	text-align: center;
  	display: inline-flex;
  	align-items: center;
  	justify-content: center;
  }

  body.amp-body button.robo-btn.btn-stretch, a.robo-btn.btn-stretch {
  	width: 100%;
  }

  button.robo-btn:disabled, button.robo-btn.disabled, button.robo-btn[disabled], a.robo-btn:disabled, a.robo-btn.disabled, a.robo-btn[disabled] {
  	opacity: 0.5;
  }

  button.robo-btn i.material-icons, a.robo-btn i.material-icons {
  	font-size: 1rem;
  	padding: 0rem 0.3rem 0rem 0px;
  }

  button.robo-btn.primary, a.robo-btn.primary {
    font-size: 1rem;
  	font-weight: 500;
    font-family: Rubik;
    letter-spacing: .1rem;
    line-height: 1.3rem;
    background: #8caeb0;
    text-transform: uppercase;
    padding: .7rem 4rem;
    color: #fff;
  }

  button.robo-btn.primary:hover, button.robo-btn.primary.active, a.robo-btn.primary:hover, a.robo-btn.primary.active {
  	background: #EC5B5B;
  }

  button.robo-btn.primary:active, a.robo-btn.primary:active {
  	background: #CE4D4D;
  }

  body.amp-body amp-sidebar#sidebar1 {
      top: calc(0px);
      background: white;
      font-size: 1.8rem;
      color: #5f9ea0;
      font-weight: 400;
      line-height: 3.3rem;
      font-family: Rubik,sans-serif;
      list-style: none;
  }
  ul.sidebar {
      direction: rtl;
      list-style: none;
      font-size: 1.8rem;
      color: #5f9ea0;
      font-weight: 400;
      line-height: 3.3rem;
      font-family: Rubik,sans-serif;
      margin: 0px;
      padding: 25px;
  }

  body.amp-body .sidebar li {
      font-size: 1.8rem;
      color: #5f9ea0;
      font-weight: 400;
      line-height: 3.3rem;
      font-family: Rubik,sans-serif;
      margin: 20px 0px;
  }

  .sidebar li a {
      font-size: 1.8rem;
      color: #5f9ea0;
      font-weight: 400;
      line-height: 3.3rem;
      font-family: Rubik,sans-serif;
      text-decoration: none;
  }
  a#load_more {
      display: block;
      width: 100%;
      text-align: center;
      margin: 60px 0px 30px 0px;
  }
  .home-button{
    margin-top: 8px;
  }
  .hamburger{
    font-size: 2rem;
    color: #8caeb0;
    margin: 2rem;
  }
  .headerbar{
    direction: rtl;
    height: 50px;
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    color: #5c87a7;
    font-weight: bolder;
  }
  .homebanner .blog-avatar{
    background-size:0px;
    height: 85px;
    background-position: center 60px;
    background-repeat: no-repeat;
  }
  .outer-container-post{
    font-size: 14px;
    line-height: 165%;
  }
  .outer-container{
    padding:30px;
  }
  body div.site-name{
    text-align:center;
    margin-left:-40px;
    width:100%;
    font-size:18px;
    display:block;
  }
  .site-name{
      color: #FFFFFF;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 800;
      line-height: 44px;
      text-align: center;
  }
  .blog-title .blog-description{
    max-width: 480px;
    color: #FFFFFF;
    margin:0px auto;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
  }
  .site-name{
    flex: 1;
    margin-left: -36px;
  }
  article{
    margin-top: 50px;
  }
  a.blog-post{
    text-decoration:none;
  }
  .blog-post-meta {
    margin-top: 10px;
    display: block;
    text-align:center;
  }

  .blog-post h2 {
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
    margin-top: 4px;
  }
  .blog-post-meta .type{
    color:#FF6B6B;
  }

  a.item {
      color: #fff;
      text-decoration: none;
      font-style: normal;
      margin: 0px 14px;
      font-weight: normal;
      font-size:14px;
  }
  .footerWrapper {
    background: #ffefd5;
  }
  .footer-bottom .menu a {
    font-family: Roboto;
  }
  .footer-bottom{
    max-width: 100%;
    display: flex;
    min-height: 100px;
    text-align: center;
    justify-content: center;
    align-items:center;
    flex-direction:column;
  }
  
  .search div {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FF6B6B;
  }
  .search {
    display: inline-block;
    position:relative;
  }
  .homebanner {
    max-height: 800px;
    height:100%;
    background-size:cover;
    position:relative;
    padding-bottom: 30px;
  }
  .search input{
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    color: #3F3F3F;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    min-height: 28px;
    line-height: 10px;
    width: 100%;
  }

  .filters {
      flex: 3;
      margin:0px;
  }

  form.search button {
    background: transparent;
    border: 0px;
    height: 100%;
    position: relative;
    top: 4px;
    color: #EC5B5B;
  }
  
  .filters button {
    display: block;
    width: 100%;
    margin: 10px 0px;
  }
  
  .search {
    display: inline-block;
    flex: 1;
    width: 100%;
    margin: 14px 0px;
  }

  body footer{
    padding-top: 30px;
    max-width: 100%;
    width: 100%;
    display:block;
    min-height:auto;
    background: #ffefd5;
  }

  .logo {
    flex: 1;
    flex-shrink: 0;
    max-width: 200px;
    text-align: center;
    margin: 0px auto;
    padding-top: 25px;
  }

