if(post.type == "component_post")
  - var href = "/component/" + post.uid + ".amp/";
else 
  - var href = "/blog/" + post.uid + ".amp/";
  
a.blog-post(class=post.type, href=href)
  if (post.data.cover_image)
    - var bgCoverPhoto = post.data.cover_image.url;
  else
    - var bgCoverPhoto = post.data.gallery_image_one.url
  span.postPreview
    amp-img(src=bgCoverPhoto , width='400', height="300",layout="responsive")
  span.blog-post-meta
    span.type.text-homepage-btn !{post.formattedType}
  h2
    - var postTitle = PrismicDOM.RichText.asText(post.data.title)
    span(title=postTitle) !{postTitle}
