<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="בלוג רפלקסולוגיה "/>
<meta property="og:description" content="זהו הבלוג של הרפלקסולוגיה"/>
<meta property="og:url" content="https://maya-reflexology.herokuapp.com/blog"/>
<meta property="og:site_name" content="בלוג רפלקסולוגיה"/>
<meta property="article:section" content="בלוג רפלקסולוגיה"/>
<meta property="og:image" content="!{meta.coverImg.url}"/>
<meta property="og:image:secure_url" content="!{meta.coverImg.url}"/>
<meta property="og:image:width" content="!{meta.coverImg.dimensions.width}"/>
<meta property="og:image:height" content="!{meta.coverImg.dimensions.height}"/>
<meta property="og:image:alt" content="!{meta.coverImg.alt}"/>
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:description" content="!{meta.description}"/>
<meta property="twitter:title" content="!{meta.pageTitle}"/>
<meta property="twitter:image" content="!{meta.coverImg.url}"/>
