script.
  document.addEventListener("DOMContentLoaded", function(event) { 
    var btns = document.querySelectorAll('.filters button')
      btns.forEach(function(item){
      item.addEventListener('click',function(e){
        var selected = e.currentTarget.attributes['data-filter'].value;
        document.querySelectorAll('.filters button.active')[0].classList.remove('active');
        document.querySelectorAll(".filters button[data-filter='" + selected + "']")[0].classList.add('active');
        document.querySelectorAll('.blog-main')[0].setAttribute('class', 'blog-main ' + selected);
      })
    })
  });
