doctype html(lang='en')

head
  block title
  include ./css.pug
  link(rel="stylesheet", type="text/css", href="/static/application.css")
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800|Rubik:300,400,500,700|Montserrat:300,400,500,700,800' type='text/css')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
  link(rel='icon' href='https://www.circuito.io/static/images/favicon.png')
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(name='description', content=meta.description)
  if(post)
    include ./social_media_meta.pug
  link(rel='canonical' href=meta.canonical)
  link(rel="amphtml" href=UIhelpers.getAmpLink(meta.canonical))
  script.
    window.SEGMENT_CLIENT_API_KEY = "#{meta.segmentKey}";
    
    window.addEventListener('load', function() {
      document.getElementById("form").addEventListener('submit', function(event) {
        event.preventDefault();
        
        let name = document.getElementById('name').value;
        let phone = document.getElementById('phone').value;
        
        if (!name) {
          alert('אנא מלאו שם');
          return;
        }
        
        if (!phone) {
          alert('אנא מלאו מספר טלפון');
          return;
        }
        
        fetch("/send_mail", {
          method : "POST",
          credentials: 'same-origin', // <-- includes cookies in the request
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          'body': JSON.stringify({ name, phone })
        }).then((response)=> {
          if (response.status === 200) {
            alert('תודה, נחזור אליך בהקדם :)')
          }
          else {
            alert('אנא מלאו שם וטלפון');
          }
        });
      });
    });
body
  .homepage-header.dark.fixed
    .header-links-container
      a.header-links.menu(href='/') ראשי
      a.header-links.menu(href='#me') פנה\י אלינו
      a.header-links.menu(href='#me') קצת על עצמי
      a.header-links.menu(href='/#directions') הוראות הגעה
      a.header-links.menu(href='/blog/') עוד על רפלקסולוגיה
    a.facebook(href='https://facebook.com/mayatzukreflexology')
      img(src='/static/images/facebook.svg')
  block body
footer
    block footer
      if(post)
        include ./social_media_meta.pug
      if (footerBnr)
        div.footerWrapper
          div.footer-top.outer-container-post
            div.footer-banner
              table
                tbody
                  tr
                    td
                      .inner-container#me
                        .row.space-around.mobile-rev-row
                          .image-column(style='background-image: url("/static/images/maya.jpg");')
                          .column
                            h2 קצת על עצמי...
                            .text-homepage-body-1-light
                              // react-text: 79
                              | שמי מאיה צוק, רפלקסולוגית בכירה.
                              // /react-text
                              br
                              // react-text: 81
                              | אני מזמינה אתכם אלי לקליניקה
                              // /react-text
                              br
                              // react-text: 83
                              | למדתי כל מיני דברים במשך שנתיים.
                              // /react-text
                              br
                              // react-text: 85
                              | תחילת דרכי בלה בלה בלה
                              // /react-text
                              br
                              // react-text: 87
                              | ונמשיך לטיפול של חצי שעה \ 45 דקות דרך כפות הרגליים.
                              // /react-text
                  tr
                    td
                      .inner-container#contact
                        h2 לקביעת תור ומידע נוסף התקשר ל 0526444719
                        p או מלא\י פרטים ונחזור אליך:
                        form#form.details
                          input#name(placeholder='שם מלא', value='')
                          input#phone(placeholder='טלפון', value='')
                          button.robo-btn.primary.go-to-app(type="submit") שלח
                        br
                        p#me 50% הנחה לטיפול הראשון :)

include ./js.pug