doctype html
html(amp)
  head
    meta(charset="utf-8")
    script(async src="https://cdn.ampproject.org/v0.js")
    script(async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js")
    script(async='' custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js")
    script(async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js")
    if(post)
      include ./social_media_meta.pug
    block title
    //- include ./css.pug
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800|Rubik:300,400,500,700|Montserrat:300,400,500,700,800' type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
    link(rel='icon' href='https://www.circuito.io/static/images/favicon.png')
    meta(name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1")
    script(type='application/ld+json').
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": #{meta.pageTitle},
        "datePublished": "2015-10-07T12:02:41Z",
        "image": [
        "logo.jpg"
        ]
      }
    meta(name='description', content=meta.description)
    link(rel='canonical' href=meta.canonical)
    include ./css_amp.pug
    style(amp-boilerplate='').
      body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}
    noscript
      style(amp-boilerplate='').
        body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}
  body(class="amp-body")
    <header class="headerbar">
      <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger">☰</div>
      <div class="site-name"> <a href="/blog.amp">רפלקסולוגיה בעיר</a> </div>
      <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger">
        <a href="https://facebook.com/mayatzukreflexology" class="facebook"><amp-img src="/static/images/facebook.svg" width="24" height="24"></a>
    </header>
    <amp-sidebar id="sidebar1" layout="nodisplay" side="right">
      <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕</div>
      ul.sidebar
        li
          a(href='/') ראשי
        li
          a(href='/#contact') פנה\י אלינו
        li
          a(href='/#me') קצת על עצמי
        li
          a(href='/#directions') הוראות הגעה
        li
          a(href='/blog/') עוד על רפלקסולוגיה
    </amp-sidebar>
    amp-analytics(type='segment')
      script(type='application/json').
        {
          "vars": {
          "writeKey": "#{meta.segmentKey}",
          "name": "#{meta.canonical}"
          }
        }
    block body
  footer
    block footer
      if(post)
        include ./social_media_meta.pug
      if (footerBnr)
        div.footerWrapper
          div.footer-top.outer-container-post
            div.footer-banner
              amp-img(width='1', height='1', src='/static/images/maya.jpg', layout='responsive')
              div.header.text-homepage-display-heading קצת על עצמי..
              div.subheader.text-homepage-body-1-light שמי מאיה צוק, רפלקסולוגית בכירה. אני מזמינה אתכם אלי לקליניקה למדתי כל מיני דברים במשך שנתיים. תחילת דרכי בלה בלה בלה נמשיך לטיפול של חצי שעה \ 45 דקות דרך כפות הרגליים.
              div
                span.subheader.text-homepage-body-1-light לקביעת תור התקשר אל 
                span 0526444719
              //a.go-to-app(href="https://www.circuito.io/app")
              //  button.robo-btn.primary.text-app-btn
              //    span קבע תור
</html>
