div.related 
script#related_posts(type='text/html').
  <div class="TEXT-HOMEPAGE-HEADER-1">עוד בנושא</div>
  <div class="posts-list">
  <% _.each(items, function(item) { %>
      <a href="<%-item.uid%>" class="related-wrapper blog-post">
          <div class="img" style="background-image:url(<%- (item.data.cover_image) ? item.data.cover_image.url : item.data.gallery_image_one.url %>)"></div>
          <div class="blog-post-meta">
            <h4 class="title"><%- item.data.title[0].text %></h4>
          </div>
      </a>
  <% }); %>
  </div>
