.sidebar-container.sidebar-container-closed
  .overlay.overlay-closed.overlay-clickable 
    .overlay-content
  .sidebar-content.sidebar-content-closed
    button.sidebar-close-button.close(type='button')
      i.material-icons.icon close
    nav
      nav.main-nav-container
        a.btn.btn-flat.menu(href='/') Homepage
        a.btn.btn-flat.menu(href='/app') App
        a.btn.btn-flat.menu(href='/about') About us
        a.btn.btn-flat.menu(href='/faq') F.A.Q
        a.btn.btn-flat.menu(href='https://talk.circuito.io' target='_blank' rel='nofollow') Talk
        a.btn.btn-flat.menu(href='/blog/') Blog
        a.btn.btn-flat.menu.btn-secondary(href='/terms') Terms of service
        a.btn.btn-flat.menu.btn-secondary(href='/privacy') Privacy
    span
      nav
        ul.social-links
          li
            a.icon-link(href='https://github.com/circuito-components' target='_blank' rel='nofollow')
              svg.icon.icon-github(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                rect(width='24' height='24' fill='#5D5E5E' x='4' y='4' rx='4' ry='4')
                path(fill='#FFF' d='M7,16.025a9.001,9.001 0 0 0 6.155,8.54c0.45,0.082 0.614,-0.196 0.614,-0.434c0,-0.214 -0.007,-0.78 -0.012,-1.53c-2.503,0.543 -3.031,-1.207 -3.031,-1.207c-0.41,-1.04 -1,-1.317 -1,-1.317c-0.817,-0.558 0.062,-0.547 0.062,-0.547c0.903,0.064 1.378,0.928 1.378,0.928c0.803,1.375 2.107,0.978 2.62,0.747c0.082,-0.581 0.314,-0.978 0.571,-1.203c-1.998,-0.227 -4.1,-0.999 -4.1,-4.448c0,-0.982 0.351,-1.786 0.927,-2.415c-0.093,-0.227 -0.402,-1.143 0.089,-2.382c0,0 0.755,-0.242 2.474,0.923a8.62,8.62 0 0 1 2.253,-0.303a8.63,8.63 0 0 1 2.253,0.303c1.719,-1.165 2.473,-0.923 2.473,-0.923c0.491,1.24 0.182,2.155 0.09,2.382c0.577,0.629 0.925,1.433 0.925,2.415c0,3.458 -2.105,4.219 -4.11,4.441c0.323,0.278 0.611,0.827 0.611,1.667c0,1.203 -0.01,2.174 -0.01,2.469c0,0.24 0.162,0.52 0.618,0.433a9,9 0 1 0 -11.85,-8.539Z')
              span.social-links-caption.text-app-hamburger GitHub
          li
            a.icon-link(href='https://www.hackster.io/circuito-io' target='_blank' rel='nofollow')
              svg.icon.icon-hackster(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                title Circuito Assets
                rect#_Path_.cls-1(data-name='<Path>' x='4' y='4' width='24' height='24' rx='4' ry='4')
                path.cls-2(d='M9.35,14.82c-0.43,0-.87,0-1.3,0a0.78,0.78,0,0,1-.29-0.16A0.77,0.77,0,0,1,8,14.41c0.45-.14.91-0.26,1.36-0.38l4.1-1.12a1.9,1.9,0,0,1,.24-0.07c0.29,0,.38,0,0.39.32s0,0.7,0,1.06c0,0.54.08,0.61,0.62,0.61h5.72a0.35,0.35,0,0,1,.37.39c0,0.37,0,.75,0,1.12,0,0.74,0,.74.77,0.74h2.05a1.17,1.17,0,0,1,.37,0,0.49,0.49,0,0,1,.25.22,0.41,0.41,0,0,1-.17.22,0.91,0.91,0,0,1-.29.11l-5.41,1.47c-0.35.09-.43,0-0.44-0.36s0-.7,0-1.06-0.11-.53-0.57-0.53H11.7c-0.4,0-.47-0.08-0.48-0.47s0-.83,0-1.24-0.13-.62-0.62-0.63H9.35Z')
                path.cls-2(d='M20.8,11.47c0,0.66,0,1.33,0,2,0,0.4-.08.48-0.46,0.49q-1,0-1.93,0c-0.4,0-.47-0.08-0.47-0.48q0-1.62,0-3.23a0.5,0.5,0,0,1,.45-0.63c0.67-.2,1.35-0.38,2-0.55,0.27-.07.36,0,0.39,0.3s0,0.37,0,.56Q20.8,10.69,20.8,11.47Z')
                path.cls-2(d='M11.22,20.53c0-.66,0-1.33,0-2,0-.4.08-0.47,0.48-0.48q1,0,1.93,0c0.38,0,.46.08,0.46,0.49q0,1.62,0,3.23a0.5,0.5,0,0,1-.46.62c-0.61.18-1.23,0.35-1.84,0.5s-0.55.1-.56-0.45S11.22,21.17,11.22,20.53Z')
                path.cls-2(d='M17.85,20.47c0-.08,0-0.16,0-0.25a0.47,0.47,0,0,1,.53-0.53c0.66,0,1.32,0,2,0a0.37,0.37,0,0,1,.43.33,0.42,0.42,0,0,1-.32.51c-0.73.2-1.45,0.41-2.18,0.6a0.31,0.31,0,0,1-.43-0.3,2.78,2.78,0,0,1,0-.37h0Z')
                path.cls-2(d='M12.59,12.32H11.66A0.36,0.36,0,0,1,11.22,12a0.42,0.42,0,0,1,.33-0.52l2.2-.6a0.24,0.24,0,0,1,.34.24s0,0,0,.06c0,1.27.09,1.15-1.06,1.15H12.59Z')
              span.social-links-caption.text-app-hamburger Hackster.io
          li
            a.icon-link(href='https://twitter.com/circuitoio' target='_blank' rel='nofollow')
              svg.icon.icon-twitter(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                title Circuito Assets
                rect#_Path_.cls-1(data-name='<Path>' x='4' y='4' width='24' height='24' rx='4' ry='4')
                path.cls-2(d='M13.41,23.06H12.25c-0.34,0-.67-0.06-1-0.11a9.75,9.75,0,0,1-2.62-.78c-0.43-.2-0.85-0.44-1.27-0.65V21.46A7.27,7.27,0,0,0,12.56,20a3.55,3.55,0,0,1-2.07-.72A3.49,3.49,0,0,1,9.25,17.5a3.55,3.55,0,0,0,1.57-.06,3.58,3.58,0,0,1-2-1.28A3.48,3.48,0,0,1,8,13.9a3.39,3.39,0,0,0,1.54.42,3.61,3.61,0,0,1-1.43-2.16,3.51,3.51,0,0,1,.4-2.57,10.17,10.17,0,0,0,3.28,2.64,10,10,0,0,0,4.05,1.08,4.16,4.16,0,0,1,0-1.39,3.58,3.58,0,0,1,3.33-3,3.52,3.52,0,0,1,2.68,1,0.25,0.25,0,0,0,.27.07A7.3,7.3,0,0,0,24,9.3l0.18-.09a3.8,3.8,0,0,1-1.47,1.94,8,8,0,0,0,1-.19c0.32-.09.63-0.21,1-0.32l-0.07.11a6.69,6.69,0,0,1-1.51,1.57,0.37,0.37,0,0,0-.16.35,9.36,9.36,0,0,1-.25,2.47,10.32,10.32,0,0,1-3.26,5.51A9.47,9.47,0,0,1,14.24,23Z')
              span.social-links-caption.text-app-hamburger Twitter
          li
            a.icon-link(href='https://www.facebook.com/circuito.io' target='_blank' rel='nofollow')
              svg.icon.icon-facebook(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                path(d='M24,4H8A4,4,0,0,0,4,8V24a4,4,0,0,0,4,4H24a4,4,0,0,0,4-4V8A4,4,0,0,0,24,4Zm-3.56,6.61h-2a1,1,0,0,0-1,1V14H20.1l-0.34,2.73H17.37v7.86H14.29V16.76H11.56V14h2.73V11.41A3.53,3.53,0,0,1,17.9,7.88h2.54v2.73Z')
              span.social-links-caption.text-app-hamburger Facebook
          li
            a.icon-link(href='https://www.youtube.com/c/Circuitoio' target='_blank' rel='nofollow')
              svg.icon.icon-youtube(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                path(d='M24,4H8A4,4,0,0,0,4,8V24a4,4,0,0,0,4,4H24a4,4,0,0,0,4-4V8A4,4,0,0,0,24,4ZM12.7,20.72V11.78l8.6,4.49Z')
              span.social-links-caption.text-app-hamburger Youtube
          li
            a.icon-link(href='http://www.instructables.com/member/Circuito+io/' target='_blank' rel='nofollow')
              svg.icon.icon-ins(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 32 32')
                g#ins-screw
                  line#_Path_(y1='15' x2='32' y2='15')
                g#ins-head
                  rect#_Rectangle_(x='4.23' y='4' width='24' height='24' rx='4' ry='4')
                g#ins-eyes
                  circle#_Path_2(cx='20.44' cy='14.38' r='2.14')
                  circle#_Path_3(cx='11.89' cy='14.38' r='2.51')
                g#ins-lines
                  line#_Path_4(x1='8.65' y1='21.42' x2='22.52' y2='22.63')
                  line#_Path_5(x1='7.98' y1='12.55' x2='24.67' y2='11.17')
                g#ins-ears
                  path#_Path_6(d='M4.23,11.13a4.34,4.34,0,0,0,0,7.73V11.13Z')
                  path#_Path_7(d='M28.23,18.86a4.34,4.34,0,0,0,0-7.73v7.73Z')
              span.social-links-caption.text-app-hamburger Instructables
