<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="!{meta.pageTitle}"/>
<meta property="og:description" content="!{meta.description}"/>
<meta property="og:url" content="!{meta.canonical}"/>
<meta property="og:site_name" content="circuito.io blog"/>
<meta property="article:section" content="circuito.io blog"/>
<meta property="article:published_time" content="!{post.first_publication_date}"/>
<meta property="article:modified_time" content="!{post.last_publication_date}"/>
<meta property="og:updated_time" content="!{post.last_publication_date}"/>
<meta property="og:image" content="!{meta.coverImg.url}"/>
<meta property="og:image:width" content="!{meta.coverImg.dimensions.width}"/>
<meta property="og:image:height" content="!{meta.coverImg.dimensions.height}"/>
<meta property="og:image:alt" content="!{meta.coverImg.alt}"/>
<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:description" content="!{meta.description}"/>
<meta property="twitter:title" content="!{meta.pageTitle}"/>
<meta property="twitter:image" content="!{meta.coverImg.url}"/>