div.socialSharing
  a.item.facebook-share(href=UIhelpers.getSocialLink(post,meta.canonical,'facebook'),target="_blank")
  a.item.facebook-share(href=UIhelpers.getSocialLink(post,meta.canonical,'twitter'),target="_blank")
