//
// Bootstrap & Bootstrap-material
//

// Font sizing 
$font-size-h1: 3rem;
$font-size-h2: 2.4rem;
$font-size-h3: 1.8rem;
$font-size-h4: 1.6rem;
$font-size-h5: 1.6rem;

$mdb-text-color-primary: $color-primary-text;
$link-color: $mdb-text-color-primary;
$link-hover-color: $mdb-text-color-primary;
$mdb-text-color-light: $color-primary-text; // Set button color
$brand-success: $color-main-action;
$input-color: $mdb-text-color-primary;
$fa-font-path: 'fonts';
$mdb-input-placeholder-color: $mdb-text-color-primary;
$brand-primary: $mdb-text-color-primary;
$popover-bg: #727272;
$state-danger-bg: rgba(0, 0, 0, 0); // Transperent
$font-family-sans-serif: 'Roboto', 'Helvetica', 'Arial', 'Rubik', sans-serif;
$brand-info: #03a9f4;
$modal-md: 500px; // Change the modal size
$mdb-checkbox-checked-color: $color-main-action;
$modal-backdrop-opacity: 1;
$alert-padding: $sm-gutter;
