$main-color-bold: #5c87a7;
$main-color-light: #8caeb0;
///
/// Design guide vars
///
$circuito-blue: #2c383f;
$color-app-main: $circuito-blue;
$color-app-main-light: #2F63A1;
$color-app-main-dark: #132842;
$color-app-bg: #F0F0F0;
$color-main-action: #FF6B6B;
$color-negative-text: white;
$color-primary-text: #444444;
$color-secondary-text: #808080;
$color-light-text: #B6B6B6;
$color-divider: #B6B6B6;
$color-component-cat-inputs: #FDB72F;
$color-component-cat-outputs: #A761AD;
$color-component-cat-controllers: #4369A4;
$color-component-cat-power-supplies: #A7A7A7;
$color-component-cat-connectivity: #68CB74;
$color-component-disabled-hover: black;
$color-component-disabled: #ededed;
$color-msg-danger: #EF3C40;
$color-msg-success: $color-main-action;
$color-msg-general: #5F5F5F;
$color-flat-button: #03A9F4;
$color-link: #FC5258;
$color-alt-text-background: #F9F9F9;

///
/// Shadows
///
$box-shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);

///
/// Spacing
///
// Base vars
$base-gutter: 1.04rem;
$xs-gutter: $base-gutter / 4; // 4px
$sm-gutter: $base-gutter / 2; // 8px
$md-gutter: $base-gutter; // 16px
$lg-gutter: $base-gutter * 1.5; // 24px
$xl-gutter: $base-gutter * 2; // 32px
$xxl-gutter: $base-gutter * 2.5; // 40px


// Header/Footer
$header-bg-color: $color-app-main;
$footer-height: 4.6rem;
$header-height: 3.9rem;

$divider-border:  1px $color-divider solid;

// Side-bar
$sidebar-bg-color: $color-app-main;
$sidebar-transition-time: .5s;
$sidebar-width: 12.6rem;

// Widget styles
$widget-space: $sm-gutter;
$card-width: 28%;
$lower-desktop-container-height: 9.2rem;

// Search box
$fixed-card-height: 5.7rem;
$search-bar-height: 3.1rem;

// Builder
$builder-md-max-height: 860px;
$builder-sm-max-height: 760px;

// Submit request
$color-submit-request: white;

// Navigation buttons
$btn-secondary-font-weight: 300;

// Landing page
$landing-page-video-screen-height: 46.4rem;

// Components to colors mapping
$component-types-map: (
  inputs: $color-component-cat-inputs,
  outputs: $color-component-cat-outputs,
  controllers: $color-component-cat-controllers,
  powerSupplies: $color-component-cat-power-supplies,
  connectivity: $color-component-cat-connectivity,
  disabled: $color-component-disabled,
  disabledHover: $color-component-disabled-hover
);

// Component image sizes
$component-img-size-bom: 4.2rem;
$component-img-size-sm: 9rem;
$component-img-size-md: 13.2rem;
$component-img-size-orig: 60rem;

// Checkout
$checkout-width: 28%;
$non-checkout-width: 72%;

$overlay-transition-time: $sidebar-transition-time;


// Transitions
$quick-transition-time: .5s;