// Main manifest file
@import "variables";
@import "overrides";
@import "bootstrap";
@import "bootstrap-material-design";
@import "font-awesome";
@import "ripples";
@import "mixins/all";
@import "components/all";
@import "styleguide/all";
div {
    margin: 0;
    padding: 0;
    border: 0;
}

// Keyframes
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scale {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(100%);
    }
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

html {
    overflow: auto;
    scroll-behavior: smooth;
    // For sticky footer
    position: relative;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
}

// Reset lists
ul,
ol {
    padding: 0;
}

main {
    position: relative;
    color: $color-primary-text;
    font-weight: 400;
    // padding-bottom: ($footer-height + 2rem);
}

body {
    background-color: $color-app-bg;
    color: $color-primary-text;
    font-size: 1.6rem;
    margin: 0;
    display: flex;
    flex-flow: column;
    scroll-behavior: smooth;
}


/* Let's get this party started */
//
// ::-webkit-scrollbar {
//     width: 4px;
// }


/* Handle */

// ::-webkit-scrollbar-thumb {
//     -webkit-border-radius: 4px;
//     border-radius: 4px;
//     background: #ededed;
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
// }

h2 {
    font-weight: 400;
    font-size: 30px;
}

input {
    padding: 1px;
}

.icon-link {
    display: flex;
}

.icon {
    @include square(2.4rem);
}

.fadein {
    animation-name: fade-in;
    animation-duration: .4s;
    will-change: opacity;
}

#main-app,
#main-app>div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.hamburger {
    color: $main-color-light !important;
    opacity: 0.25;
}

// site links (youtube,..)
.social-links {
    display: flex;
    flex-flow: column;
    .icon {
        margin-left: $sm-gutter;
        margin-right: $sm-gutter;
        @include square(2.2rem);
        fill: #5d5e5e;
    }

    .icon-hackster {
        .cls-1 {
            fill: #5d5e5e;
        }
        .cls-2 {
            fill: $color-app-main;
        }
    }

    .icon-twitter {
        .cls-1 {
            fill: #5d5e5e;
        }
        .cls-2 {
            fill: $color-app-main;
        }
    }

    .icon-github {
        margin-right: 4px !important;
        margin-left: 12px;

        path {
            fill: $color-app-main;
        }
    }

    .icon-ins {
        #ins-eyes {
            fill: $color-app-main;
        }
        #ins-lines {
            stroke: $color-app-main;
        }
    }

    li {
        &:hover {
            .icon-twitter {
                .cls-1 {
                    fill: #2aa8e0;
                }
                .cls-2 {
                    fill: #fff;
                }
            }

            .icon-facebook {
                fill: #446aa5;
            }

            .icon-youtube {
                fill: #e76767;
            }

            .icon-github {
                rect {
                    fill: #323131;
                }
                path {
                    fill: white;
                }
            }

            .icon-hackster {
                .cls-1 {
                    fill: #42a7de;
                }
                .cls-2 {
                    fill: #fafdff;
                }
            }

            .icon-ins {
                #ins-eyes,
                #ins-ears {
                    fill: #a33025;
                }
                #ins-head {
                    fill: #fdb72d;
                }
                #ins-lines {
                    stroke: #b6842c;
                }
                #ins-screw {
                    stroke: black;
                }
            }
        }
    }

}

// Global links
a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

// Navigation buttons
.main-nav-container {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.btn {
    // !!! Put your text in a span so it can be proprly aligned
    padding: $sm-gutter 0 !important;
    margin: 0;
    // Bootstrap changes our text to uppercase and we must change it back maybe
    text-transform: none;
    // TODO look into this
    * {
        vertical-align: middle;
        &+.icon {
            margin-left: 8px;
        }
    }
    background-color: rgba(#000000, 0); // Transparent
    &.btn-flat {
        &.default {
            color: $color-flat-button;
            &:hover {
                // spec: flat/light bg Hover: 20% #999999
                background-color: rgba(#FFFFFF, (20/100));
            }
            &:focus {
                outline: 0;
                background-color: rgba(#000000, 0.1);
            }
            &:active {
                background-color: rgba(#000000, 0.2);
            }
        }
        &.menu {
            &:hover {
                // spec: flat/light bg Hover: 20% #999999
                background-color: rgba(#000000, 0);
            }
        }
    }
    &.btn-raised {
        color: $color-negative-text;
        &.default,
        &.btn-success {
            background-color: $color-main-action;
            color: $color-negative-text;
            &:disabled {
                color: $color-negative-text;
                background-color: #C7C7C7;
            }
            &:focus {
                outline: 0;
            }
        }
        &.landing-page {
            background-color: $color-app-main;
        }
    }
    &.btn-ghost {
        border-radius: 2px;
        &.default {
            border: $color-main-action solid 1px;
            color: $color-main-action;
            &:hover {
                background-color: $color-main-action;
                color: $color-negative-text;
            }
            &:focus {
                outline: 0;
            }
        }
        &.ghost-landing-page {
            border: $color-negative-text solid 1px;
            color: $color-negative-text;
            &:hover {
                background-color: rgba(#FFFFFF, 0.4);
            }
            &:focus {
                outline: 0;
            }
        }
    }
    &.btn-secondary {
        font-weight: $btn-secondary-font-weight;
    }
}

form {
    .input-group {
        .control-label {
            // This fixes a glitch on firefox where the label is misplaced
            display: block;
        }
    }
}

ul {
    list-style-type: none;
}

.form-group {
    select {
        appearance: normal;
    }
}

.material-icons.md-14 {
  font-size: 14px;
  height: 14px;
  width: 14px;
}

.material-icons.md-18 {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.material-icons.md-48 {
    font-size: 48px;
    height: 48px;
    width: 48px;
}

.divider{
  border-bottom: $divider-border;
}

.generate-button-container{
  display: flex;
  flex-flow: column;
}

.generate-button{
    width: 100%;
    font-family: Montserrat;
}

@media (min-width: $screen-md-min) {
  .generate-button{
    width: 320px;
    height: 44px;
    font-size: 1.6rem;
  }
}

.link{
  color: $color-link;
}

.icon-info-circle-status-full{
    fill: #59C33B;
}

.icon-info-circle-status-not-full{
    fill: #4A4A4A;
}


.tooltip-image{
    margin: $xs-gutter;
    height: 0.8rem;
    width: 0.8rem;
}

.tooltip-status-horizontal{
    display: flex;
    flex-wrap: wrap !important;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.84rem;
    max-width: 22.5rem;
    margin-top: 0.8rem;
}

.tooltip-status-vertical{
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: 0.84rem;
    align-items: flex-start;
    position: relative;
    left: 15px;
}

.tooltip-status-cell{
    display: flex;
    align-items: center;
}

.fullHeightWidth{
    height: 100%;
    width: 100%;
}

.fullWidth {
    width: 100%;
}

.maxFullHeightWidth{
    max-height: 100%;
    max-width: 100%;
}

.flex{
    display: flex;
}

.margin-auto{
    margin: auto;
}

.hover {
  position: relative;

  &:hover &__no-hover {
    opacity: 0;
  }
  &:hover &__hover {
    opacity: 1;
  }

  &:active &__no-hover {
    opacity: 1;
  }
  &:active &__hover {
    opacity: 0;
  }

  &__hover {
    position: absolute;
    top: 0;
    opacity: 0;
  }
  &__no-hover {
    opacity: 1;
  }
}

.badge{
  border-radius: 100px;
  background-color: #FDB72F;
  color: #fff;
  width: 20px;
  height: 20px;
  margin: 0px 4px;
  padding: 3px 0px;
  overflow: hidden;
  line-height: 135%;
  &.active-false {
      opacity: 0.5;
  }
  &.active-true{
    opacity: 1;
    animation: fade 1.5s infinite linear;
  }
}