$btn-red-color: #8caeb0;
$btn-red-color-hover: #5c87a7;
$btn-red-color-active: #5c87a7;
$btn-red-color-disabled: #FF6B6B;

$btn-yellow-color: #FDB72F;
$btn-yellow-color-hover: #ECA10F;
$btn-yellow-color-active: #B18020;
$btn-yellow-color-disabled: #FDB72F;

$btn-gray-color: #9B9EA0;
$btn-gray-color-hover:#9B9EA0;
$btn-gray-color-active: #86888A;
$btn-gray-color-disabled: #9B9EA0;

$yellow-one:#B18020;
$yellow-two:#D69518;
$yellow-three:#ECA10F;
$yellow-four:#FDB72F;
$yellow-five:#FDC559;
$yellow-six:#FEDB97;
$yellow-seven:#FEE9C0;

$pacific-blue-one:#007C9E;
$pacific-blue-two:#0A90B5;
$pacific-blue-three:#0FA0C9;
$pacific-blue-four:#00B1E2;
$pacific-blue-five:#33C0E8;
$pacific-blue-six:#7FD7F0;
$pacific-blue-seven:#B2E7F6;

$pink-sherbert-one:#B34B4B;
$pink-sherbert-two:#CE4D4D;
$pink-sherbert-three:#EC5B5B;
$pink-sherbert-four:#FF6B6B;
$pink-sherbert-five:#FF8989;
$pink-sherbert-six:#FFB5B5;
$pink-sherbert-seven:#FFD2D2;

$violet-blue-one:#504482;
$violet-blue-two:#59499F;
$violet-blue-three:#6957B6;
$violet-blue-four:#7261BA;
$violet-blue-five:#8E81C8;
$violet-blue-six:#B8B0DC;
$violet-blue-seven:#D4CFEA;

$alert-red:#D0021B;
$warning-orange:#EC6005;
$success-green:#6DB41E;
$info-blue:#2B7DD5;

$clean-white:#fff;
$light-grey-1:#F5F5F5;
$light-grey-2:#E0E0E0;
$medium-grey:#9B9EA0;
$grey-blue:#36454E;
$dark-grey:#3F3F3F;
$dark-grey-blue:#2C383F;
