@import "variables";

button.robo-btn, div.robo-btn{
  outline: 0;
  border: 0px;
	border-radius: 2px;
  margin:2px;
	font-family: Montserrat;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &.btn-stretch{
    width:100% !important;
  }
  &:disabled,
  &.disabled,
  &[disabled]{
    opacity: 0.3;
  }

  i.material-icons{
    font-size: 1.2rem;
    padding: 0rem 0.3rem 0rem 0px;
  }

  &.primary{
    	font-size: 1rem;
      font-weight: 500;
      font-family: Rubik;
      letter-spacing: 0.1rem;
      line-height: 1.3rem;
      background: $btn-red-color;
      text-transform: uppercase;
      padding: 0.7rem 4rem;
      color:#fff;
      &:hover,  &.active{
        background:$btn-red-color-hover;
      }
      &:active{
        background:$btn-red-color-active;
      }
  }

  &.primary-outline{
      border: 1px solid $btn-red-color;
      background:transparent;
      color:$btn-red-color;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      line-height: 1.3rem;
      text-transform: uppercase;
      padding: 0.7rem 4rem;
      &:hover , &.active{
        background:$btn-red-color-hover;
        color:#fff;
      }
      &:active{
        background:$btn-red-color-active;
        color:#fff;
      }
  }

  &.primary-yellow{
      background: $btn-yellow-color;
      color:#fff;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      line-height: 1.3rem;
      text-transform: uppercase;
      padding: 0.7rem 4rem;
      align-items: center;
      &:hover,  &.active{
        background:$btn-yellow-color-hover;
      }
      &:active{
        background:$btn-yellow-color-active;
      }
  }

    &.primary-gray-outline{
      border: 1px solid $btn-gray-color;
      color:$btn-gray-color;
      background:transparent;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      line-height: 1.3rem;
      text-transform: uppercase;
      padding: 0.7rem 4rem;
      &:hover,  &.active{
        background:$btn-gray-color-hover;
        color:#fff;
      }
      &:active{
        background:$btn-gray-color-active;
        color:#fff;
      }
    }

    &.primary-yellow-outline{
        border: 1px solid $btn-yellow-color;
        color:$btn-yellow-color;
        background:transparent;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        line-height: 1.3rem;
        text-transform: uppercase;
        padding: 0.7rem 4rem;
        &:hover, &.active{
          background:$btn-yellow-color-hover;
          color:#fff;
        }
        &:active{
          background:$btn-yellow-color-active;
          color:#fff;
        }
    }

  &.secondary-outline-gray{
    background: transparent;
    border:1px solid $btn-gray-color;
    color: $btn-gray-color;
    padding: 0.4rem 1.2rem;
    align-items: center;
    &:hover, &.active{
      background:$btn-gray-color-hover;
      color:#fff;
    }
    &:active{
      background:$btn-gray-color-active;
      color:#fff;
    }
  }

  &.secondary-outline{
    background: transparent;
    border:1px solid $btn-red-color;
    color: $btn-red-color;
    padding: 0.4rem 1.2rem;
    &:hover, &.active{
      background:$btn-red-color-hover;
      color:#fff;
    }
    &:active{
      background:$btn-red-color-active;
      color:#fff;
    }
  }

  &.secondary-negative-outline-yellow{
    background: transparent;
    border:1px solid $btn-yellow-color;
    color: #fff;
    padding: 0.4rem 1.2rem;
    &:hover, &.active{
      background:$btn-yellow-color-hover;
      color:#fff;
    }
    &:active{
      background:$btn-yellow-color-active;
      color:#fff;
    }
  }

  &.secondary{
    background: $btn-red-color;
    color:#fff;
    padding: 0.4rem 1.2rem;
    &:hover,&.active{
      background:$btn-red-color-hover;
    }
    &:active{
      background:$btn-red-color-active;
    }
  }

  &.secondary-outline-yellow{
    background: transparent;
    border:1px solid $btn-yellow-color;
    color:$btn-yellow-color;
    padding: 0.4rem 1.2rem;
    &:hover, &.active{
      background:$btn-yellow-color-hover;
      color:#fff;
    }
    &:active{
      background:$btn-yellow-color-active;
      color:#fff;
    }
  }
}
