@import "variables";

.yellow-one{
  background:$yellow-one;
}
.yellow-two{
  background:$yellow-two;
}
.yellow-three{
  background:$yellow-three;
}
.yellow-four{
  background:$yellow-four;
}
.yellow-five{
  background:$yellow-five;
}
.yellow-six{
  background:$yellow-six;
}
.yellow-seven{
  background:$yellow-seven;
}

.pacific-blue-one{
  background:$pacific-blue-one;
}
.pacific-blue-two{
  background:$pacific-blue-two;
}
.pacific-blue-three{
  background:$pacific-blue-three;
}
.pacific-blue-four{
  background:$pacific-blue-four;
}
.pacific-blue-five{
  background:$pacific-blue-five;
}
.pacific-blue-six{
  background:$pacific-blue-six;
}
.pacific-blue-seven{
  background:$pacific-blue-seven;
}

.pink-sherbert-one{
  background:$pink-sherbert-one;
}
.pink-sherbert-two{
  background:$pink-sherbert-two;
}
.pink-sherbert-three{
  background:$pink-sherbert-three;
}
.pink-sherbert-four{
  background:$pink-sherbert-four;
}
.pink-sherbert-five{
  background:$pink-sherbert-five;
}
.pink-sherbert-six{
  background:$pink-sherbert-six;
}
.pink-sherbert-seven{
  background:$pink-sherbert-seven;
}


.violet-blue-one{
  background:$violet-blue-one;
}
.violet-blue-two{
  background:$violet-blue-two;
}
.violet-blue-three{
  background:$violet-blue-three;
}
.violet-blue-four{
  background:$violet-blue-four;
}
.violet-blue-five{
  background:$violet-blue-five;
}
.violet-blue-six{
  background:$violet-blue-six;
}
.violet-blue-seven{
  background:$violet-blue-seven;
}

.alert-red{
    background:$alert-red;
}

.warning-orange{
  background: $warning-orange;
}

.success-green{
  background: $success-green;
}

.info-blue{
  background: $info-blue;
}

.clean-white{
  background: $clean-white;
}

.light-grey-1{
  background: $light-grey-1;
}

.light-grey-2{
  background: $light-grey-2;
}

.medium-grey{
  background: $medium-grey;
}

.grey-blue{
  background: $grey-blue;
}

.dark-grey{
  background: $dark-grey;
}

.dark-grey-blue{
  background: $dark-grey-blue;
}
