.text-homepage-display-heading {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 3.3rem;
    text-transform: uppercase;
}

.text-homepage-header-1 {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    //font-weight: bold;
    letter-spacing: 0.064rem;
    line-height: 2.2rem;
    text-transform: uppercase;

    @media (max-width: $screen-md-min) {
        font-size: 1.4rem;
    }
}

.text-homepage-header-2 {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.1rem;
}

.text-homepage-sub-head-1 {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
}

.text-homepage-body-1-light {
    color: #48545c;
    font-family: 'Rubik', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.9rem;
    margin: 1.2rem 0;
}

.text-homepage-body-1-dark {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.9rem;
    font-style: oblique;
}

.text-homepage-nav-bold {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.text-homepage-nav {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.8rem;
    &:hover{
      color:#fff;
      font-weight: 500;
    }
}

.text-homepage-btn {
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1px;
    line-height: 1.3rem;
}











.text-app-header-1 {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: 3rem;
}

.text-app-sub-header-1 {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2.4rem;
}

.text-app-header-2 {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6rem;
}

.text-app-header-2-bold {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6rem;
    font-weight: 500;
}

.text-app-sub-header-2 {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.text-app-body-2 {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 1.1rem;
    @media (min-width:300px) and (max-width:768px){
      font-size:1.3rem;
    }
    font-weight: 300;
    line-height: 1.4rem;
}

.text-app-body-2-bolder{
      color: #3F3F3F;
      font-family: 'Rubik', sans-serif;;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.4rem;
}

.text-app-hamburger {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4rem;
    &:hover{
      color: #FFFFFF;
      font-weight: 500;
    }
}

.text-app-hamburger-bold {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;;
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.text-app-nav-active {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 0.9rem;
    font-weight: 800;
    letter-spacing: 0.05rem;
    line-height: 1.3rem;
    text-transform:uppercase;
}

.text-app-nav {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05rem;
    line-height: 1.3rem;
    text-transform:uppercase;
    &:hover,&.active{
      font-weight: 800;
    }
}

.text-app-comp-list-item {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 0.8rem;
    line-height: 0.9rem;
}

.text-app-comp-list-item-bold {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 0.9rem;
}

.text-app-tooltip {
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;;
    font-size: 0.7rem;
    letter-spacing: 0.009rem;
    line-height: 0.8rem;
}

.text-app-tooltip-dark {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    font-size: 0.7rem;
    letter-spacing: 0.009rem;
    line-height: 0.8rem;
}

.text-app-alert {
    color: #D0021B;
    font-family: 'Rubik', sans-serif;;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1rem;
}

.text-app-info {
    color: #2B7DD5;
    font-family: 'Rubik', sans-serif;;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1rem;
}

.text-app-searchbar {
    color: #3F3F3F;
    font-family: 'Rubik', sans-serif;;
    @media (min-width:300px) and (max-width:768px){
      font-size:1.5rem;
    }
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1rem;
}

.text-app-bubble {
    font-size: 0.9rem;
    color: #fff;
    font-weight: 800;
    font-family: Montserrat;
}

.text-app-btn {
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    line-height: 1.3rem;
    text-transform: uppercase;
}

.text-app-btn-2 {
    color:#fff;
    font-family: 'Rubik', sans-serif !important;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1rem;
}

.text-app-dark-btn-2 {
  color:#3F3F3F;
  font-family: 'Rubik', sans-serif;;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1rem;
}

.text-app-context-menu-item{
  font-weight: 400;
  font-size: .9rem;
  vertical-align: middle;
  font-family: 'Rubik', sans-serif;;
  text-transform: uppercase;
  color:#3F3F3F;
  &:hover{
    color:#fff;
  }
}
