//- These vars can be modified by any inheriting view
block vars
  - var bodyClass = "";
  - var pageMeta = params.meta[params.path];
  - var csrfToken = params.csrfToken;
  - var canonical = params.canonical;
  - var noIndex = params.noIndex;
  - var foxycartDomain = params.foxycartDomain;
doctype html
html(lang="en")
  include ../partials/_head
  body
    //- if locals.enableGoogleTagManager === "true"
    //-   include ../partials/_google_tag_manager.html

    block content

    script(src='/static/application.js')
    
    //FOXYCART
    <script data-cfasync="false" src="https://cdn.foxycart.com/#{foxycartDomain}/loader.js" async defer></script>

